h1 {
  color: rebeccapurple;
}

/*
setting an element to display: flex
turns that element into a flex container
and all of its direct children
into flex items
*/

.parent {
  min-height: 300px;
  background-color: coral;
  /* three amigos */
  display: flex;
  /* main axis alignment */
  justify-content: space-evenly;
  /* cross axis alignment */
  align-items: center;
  gap: 20px;
}

.child {
  width: 200px;
  min-height: 200px;
  background-color: blueviolet;
}

#misbehaver {
  /* flex item property */
  align-self: flex-start;
}