@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  font-family: 'Poiret One', cursive !important; 
  background-color: black;
  color: white;
  padding: .5rem 0;
}

main {
  background-color: aquamarine;
  min-height: 500px;
}

.left {
  background-color: orange;
  min-height: 500px;
  flex: 1;
  padding: 1.5rem;
}

.right {
  background-color: green;
  min-height: 500px;
  flex: 1;
}